body {
	background-color: #000;
	color: #7D0007;
	font-size: 20px;
}
h1,h2,h3,h4 {
	font-family: 'Anton', sans-serif;
	font-size: 100px;
}
p {
	font-size: 13px;
	font-family: 'PT Sans Narrow', sans-serif;
	margin-bottom: 0px;
	text-align: center;
	letter-spacing: 1px;
}
label {
	margin-bottom: 0;
}
.first {
	background-color: #fff;
	height: 95vh;
}
.second {
	background-color: #fff;
	height: 5vh;
}
.techcards {
	text-align: center;
	text-shadow: 0.05rem .2rem rgba(0,0,0,.2);
}
.forms {
	padding-top: 20px;
	max-height: 100%;
}
.forms_div {
	height: 12.5%; 
	font-family: 'PT Sans Narrow', sans-serif;
}
.forms_field {
	border:3px solid #7D0007;
	border-radius: 6px;
	font-style: italic;
}
.form-group {
	margin: 0px;
}
.forms_label {
	letter-spacing: 1px;
	text-shadow: 0.05rem .1rem rgba(0,0,0,.1);
}
.btn-info {
	margin-top: 15px;
}
.errormessage {
	font-size: 14px;
	color:red;
}