<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Редактор техкарт</title>
  </head>
  <body>
  	<div class="container first">
  		<div class="row">
  			<div class="techcards offset-2 col-md-6">
  				<h1>TECHCARDS</h1>
  			</div>
  		</div>
  		<div class="row">
		  	<div class="forms offset-2 col-md-6 col-md-6">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-success" role="alert">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
            {% endif %}
          {% endwith %}          
			    <form action="" method= "POST">
            <div class="form-group forms_div">
						  {{ form.csrf_token }}
              {{ form.shifr.label(class='control-label forms_label') }} {{ form.shifr(class="form-control forms_field") }}
            </div>
            <div class="form-group forms_div">
              {{ form.name.label(class='control-label forms_label') }} {{ form.name(class="form-control forms_field") }}
            </div>
            <div class="form-group forms_div">
              {{ form.diametr.label(class='control-label forms_label') }} {{ form.diametr(class="form-control forms_field") }}
              {% for error in form.diametr.errors %}
                <span class="errormessage">{{error}}</span>
              {% endfor %}
            </div>
            <div class="form-group forms_div">
              {{ form.tolshina.label(class='control-label forms_label') }} {{ form.tolshina(class="form-control forms_field") }}
              {% for error in form.tolshina.errors %}
                <span class="errormessage">{{error}}</span>
              {% endfor %}
            </div>
            <div class="form-group forms_div">
              {{ form.number.label(class='control-label forms_label') }} {{ form.number(class="form-control forms_field") }}
            </div>
            <div class="form-group forms_div">
              {{ form.typ.label(class='control-label forms_label') }} {{ form.typ(class="form-control forms_field") }}
            </div>
            <div class="form-group forms_div">
              {{ form.quality.label(class='control-label forms_label') }} {{ form.quality(class="form-control forms_field") }}
            </div>
						<button type = "submit" class= "btn btn-info">Отправить</button>
				  </form>
        </div>
		  </div>
    </div>
    <div class="container second">
      <div class="row">
        <div class="offset-2 col-md-6 col-md-6 lasttext">
          <p>Создано с использованием Flask.  Сварачно-монтажный трест.  Алексей Деменков. </p>
        </div>
      </div>
    </div>
  </body>
</html>